/* Card 컴포넌트 스타일 */
.card-custom {
    position: absolute;
    width: 332px;
    height: 228px;
    left: 81px;
    top: 220px;
    border-radius: 8px;
    overflow: hidden; /* 이미지나 내용이 카드 크기를 벗어나지 않도록 함 */
}

.card-img-custom {
    width: 100%; /* 이미지가 카드 너비에 맞도록 조정 */
    height: auto; /* 이미지 비율을 유지하면서 높이 조정 */
    background: url('../images/img.png'); /* 기본 배경 이미지 설정 */
    display: block; /* 이미지가 없을 경우를 대비한 설정 */
}

.card-img-custom::after {
    content: '이미지를 불러올 수 없습니다';
    display: none; /* 기본적으로는 표시하지 않음 */
    color: #ffffff; /* 텍스트 색상 */
    background-color: rgba(0, 0, 0, 0.5); /* 텍스트 배경 색상 */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.card-img-error::after {
    display: flex; /* 이미지 로드 실패 시에만 텍스트를 표시 */
}